
* {
    box-sizing: border-box;
  }
  html,
body{
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
   background-color: darkgreen;
   /* background-color:grey;*/}



  
  section {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 200px;
    padding-left: 0px;
    width: 70%;
    height: 100vh;
  /*  border: 1px solid rgba(0, 0, 0, 0.2);*/
    border-radius: 10px;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
  }
h1{
   
    background-color: black;
    color: white;
    margin-left: 190px;
 padding-top: 10px;
 width: 96%;
 height: 50px;
    text-align: center;}
textarea{
  
    border:none;
    margin-left: 25%;
   margin-top: 2px;
 /*  background-color: yellowgreen;*/
}
textarea:focus{
    outline: none;
}
textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
#word_count {
   color: black;
  }
  h2{
    text-align: center;
    background-color: black;
    color: white;
    margin-left: 25%;
    width: 97%;
    height: 50px;
    padding-top: 7px;
  }
  